.footer {
  background-color: #193c5a;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10%;
}

.footer-content {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-left h2 {
  margin-top: 0;
  padding-bottom: 1.4vh;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 10px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-right p {
  margin-bottom: 10px;
}
.end {
  padding-bottom: 5vh;
}
.social-links {
  margin-top: 2vh;
}
.social-links a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.social-links a:hover {
  text-decoration: underline;
}
.btm-end {
  background-color: #0d2a44;
  color: white;
  padding: 1vh;
  text-align: center;
  margin-bottom: 0%;
}
